.alice-carousel__dots {
    margin: 0 0 20px 0;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 10px;
}

.alice-carousel__dots-item:not(.__custom) {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: 1px 1px 19px 1px rgba(0, 8, 30, 0.88);
        transform: scale(1.1);
    }
}

.alice-carousel__dots-item:not(.__custom):hover {
    background-color: #2157F2;
}

.alice-carousel__dots-item:not(.__custom).__active {
    width: 20px;
    background-color: #2157F2;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: none;
}